.pagination-container {
  margin-top: 30px;
  text-align: center;
}

.pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

.pagination-item.active {
  background: var(--color-turquoise);
}

.pagination-item.inactive {
  background: var(--color-darkslategray);
  color: var(--color-coral);
}

.pagination-item.active:hover {
  background-color: #04c7ef;
}

.pagination-item.inactive:hover {
  background-color: #29353b;
}