.page-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 50px;
}

.filters-container.records-actions {
  justify-content: flex-end;
}
 
.records-table {
  width: 100%;
  border-bottom: 10px solid var(--color-turquoise);
  border-radius: 0 0 10px 10px;
}

.records-table thead {
  background-color: var(--color-turquoise);
  text-align: left;
  color: #0E1B28;
  border-radius: 10px;
}

.records-table thead tr {
  height: 50px;
}

.records-table thead th:first-child {
  padding-left: 50px;
  border-top-left-radius: 10px;
}

.records-table thead th:last-child {
  border-top-right-radius: 10px;
}

.records-table tbody td:first-child {
  padding-left: 50px;
}

.records-table tbody tr {
  height: 45px;
  color: #FFF;
  font-size: 18px;
}

.records-table tbody tr:nth-child(odd) {
  background-color: var(--color-darkslategray);
}

.records-table tbody tr:nth-child(even) {
  background-color: var(--color-dimgray);
}

.filters-container {
  background-color: var(--color-darkslategray);
  display: flex;
  justify-content: space-between;
  padding: 13px 15px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.filters-container input {
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  color: #9E9E9E;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  padding-left: 15px;
}

.filters-container input:focus {
  outline: none;
}

.filters-container button {
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  padding: 13px 60px;
}

.filters-container .clean-filters {
  background-color: var(--color-coral);
  color: #FFF;
  margin-left: 20px;
}

.filters-container .clean-filters:hover {
  background-color: #e07243;
}

.filters-container .action-filters {
  background-color: var(--color-turquoise);
  color: #0E1B28;
}

.filters-container .action-filters:hover {
  background-color: #04c7ef;
}